
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Happy Meal</title>
</head>
<body></body>

      <footer class="py-3 my-4 fw-semibold footer">
        <div class="container">
            <!-- Liens en ligne -->
            <ul class="nav justify-content-around pt-3 flex-wrap">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Les recettes</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mes favoris</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mon planning</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Ma liste de courses</a></li>
            </ul>
    
            <!-- Logo centré en dessous -->
            <div class="d-flex justify-content-center mt-3">
                <img src="../assets/img/happy_meal_logo.webp" alt="logo Happy Meal" class="logo-footer">
            </div>
    
            <!-- Copyright centré -->
            <p class="text-center text-body-secondary mt-3">Copyright©2025 - Web Workers.</p>
        </div>
    </footer>
      


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

