<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Happy Meal</title>
</head>
<body class="bg-gray-50 text-gray-700">

    <footer class="footer py-6 shadow-md">
        <div class="container mx-auto">
            <!-- Liens en ligne -->
            <ul class="flex justify-around flex-wrap gap-4 pt-3">
                <li><a href="#" class="">Les recettes</a></li>
                <li><a href="#" class="">Mes favoris</a></li>
                <li><a href="#" class="">Mon planning</a></li>
                <li><a href="#" class="">Ma liste de courses</a></li>
            </ul>

            <!-- Logo centré en dessous -->
            <div class="flex justify-center mt-4">
                <img src="../assets/img/happy_meal_logo.webp" alt="logo Happy Meal" class="w-24 h-auto">
            </div>

            <!-- Copyright centré -->
            <p class="text-center text-gray-500 mt-4">© 2025 - Web Workers.</p>
        </div>
    </footer>

</body>
</html>
