* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.body{
    background-color: #FFBE85;
}


.titre-h1{
    color: #FBCD20;
    text-shadow: #6B221B 2px 4px 2px;
    font-size: 64px;
    font-family: "Fredoka";
    letter-spacing: -5px;
    margin: 2rem;
}

.titre-h2{
    font-size: 32px;
}

.container-recipes{
    background-color: #FDE4CE;
    width: 80%;
    min-height:25rem;
}

.bg-img{
    background-image: url(../img/img_acceuil.webp);
    width: 80%;
    height: 30rem;
    background-position: center;
    background-size: cover;
}

.how-to-container{
    background-color: #FFF;
    width: 80%;
    min-height: 20rem;
    margin: auto;
}

.article{
    margin-top: 2rem;
}

.how-to-item{
    width: 30%;
    height: 12rem;
    margin: auto;
    padding: 2rem;


}

